<h1> About Us<small> Who are we?</small></h1>
<p class = "lead"> I'm Kunal Shah. I'm a third-year USC Computer Science student originally hailing from the Bay Area.
	<br> Take a look at my <a href = "http://github.com/kunalvsh">Github</a> for the source code.
	<br> If you wanna talk, e-mail me at kunal94 -at- gmail.</p>

<h1> About Jukeboxing <small>What does it do?</small></h1>
<p class = "lead"> Jukeboxing is a side project I developed to understand how Ruby on Rails worked. It's basically a Pinterest application (for now). The technologies I used were Ruby, Ruby on Rails, Bootstrap, HTML, Javascript, CSS, Github, and Heroku. </p>